.gameContainer {
  display: flex;
}

.mainPane {
  flex: 1 1 auto;
  
  background: #E1E8F1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.marker {
  border: 1px solid rgba(255,0,0,0.4);
  margin-bottom: 1em;
}
